HIVE_CLIENT_ID="YOUR_CLIENT_ID"
HIVE_CLIENT_SECRET="YOUR_CLIENT_SECRET"
HIVE_AUTHORIZATION_URL="https://app.hive.co/oauth/api/authorize"
HIVE_TOKEN_URL="https://api.hive.co/oauth/token"
HIVE_REDIRECT_URI="http://localhost:4000/callback"
HIVE_SCOPE="events:write orders:write contacts:write segments:write"
